.container{
	background-image: url('/leanon/vues/styles/image/fotolia.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 0px;
}
p{
	font-size: 14px;
}
#block{/*page de connexion*/
	display: block;
	width: 400px;
	padding : 10px;
	min-height: 350px;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 0 auto;	
	
}
#block2{/*page d'inscrription*/
	display: block;
	width: 600px;
	min-height: 200px;
	background-color: #EEEEEE;
	margin: 10px;	
	padding : 10px;
}
.global{
	padding-top: 35px;
	padding-bottom: 35px;
	
}
.global2{
	padding-top: 35px;
	padding-bottom: 35px;
	
}
legend{
	padding-top: 5px;
}
td{
	color: #5b84a4 ;
	text-align : right;
}


.textblock{
	border:1px solid lightgrey;
	padding:4px;

	color: black;
	width: 170px;
	height: 25px;
	font-size: 13px;
	margin-bottom: 20px;
}
.textblock:hover
.textblock:focus {
	border: 5px solid #5b84a4;
	color: black;
	border-color: #5b84a4;
	
}
.pseudo{
	background-image: url('/leanon/vues/styles/image/pseudo.png');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 6px 8.5px;
	padding-left:  27px;

}
.password{
	background-image: url('/leanon/vues/styles/image/mail4.png');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 6px 13px;
	padding-left:  27px;

}


.new a{
	color: #5b84a4;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	margin-bottom: 0px;
	font-size: 15px;
	border:0.7px solid #5b84a4;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
}
.new{
	padding-bottom: 0.5px;
	width: 200px;
	height: 40px;
	font-weight: bold;
	
}
.modif{
	color : white;
	background-color: #404040 ;
	border: 1.4px solid;
	width: 200px;
	margin-bottom: 30px;
	padding: 15px;
	font-size: 20px;
	padding: 5px 20px;
	display: block;
	transition: all 0.4s ease;
	border-color: #404040 ;
}
.modif:hover{
	/*background-color: white;
	color: #5b84a4;*/
	/*padding-left: 30px;*/
	background-color: white  ;
	color: #404040 ;
	border-color: #404040 ;
}
.modif a{
	text-decoration: none;
	color: white;
}
.modif a:hover{
	color: #404040;
}


.submit{
	/*transition: all 0.3s ease;
	color: white;
	float:left;
	background-color: #5b84a4;
	width: 200px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 8px 2px #b0b4b7;
	padding: 4px;
	font-size: 20px;
	padding: 5px 20px;
	display: block;*/
	color : white;
	background-color: #5b84a4 ;
	border: 1.4px solid;
	width: 200px;
	margin : auto;
	margin-bottom: 20px;
	padding: 15px;
	font-size: 20px;
	padding: 5px 20px;
	display: block;
	transition: all 0.4s ease;
	border-color: #5b84a4 ;
	text-align : center;
	

}
.submit:hover{
	/*background-color: white;
	color: #5b84a4;*/
	/*padding-left: 30px;*/
	background-color: white  ;
	color: #5b84a4 ;
	border-color: #5b84a4 ;
}
.submit:hover,
.submit:focus{
    cursor: pointer;


}
.submit a{
	text-decoration: none;
	color: white;
}
.submit a:hover{
	color: #5b84a4;
}
fieldset{
	color: lightgrey ;
}



/*Styles pour la page de la boutique */
#case{
	display: flex;
	width: 900px;
	height: 350px;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 1px;
	
}
.boite{
	display: flex;
	width: 300px;
	height: 260px;
	background-color: #5b84a4;
	justify-content: center;
	margin-right: 115px;
	margin-left: 115px;
	align-items: flex-end;
	transition: all 0.4s ease;
	
	border:5px solid #5b84a4;
}
.boite a{
	
	text-decoration: none;
	color: white;
	font-size: 20px;
	transition: all 0.4s ease;
	margin-bottom: 10px;

}
.offres{
	
	background-image: url('/leanon/vues/styles/image/offres.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color : black;
}
.produit{
	
	background-image: url('/leanon/vues/styles/image/produit.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color : black;
}
.assistance{
	
	background-image: url('/leanon/vues/styles/image/assistance2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color : black;
}
.boite a:hover{
	
	font-size: 21px;
	
}

/*Affichage du code client */
.code_client {
	margin : auto;
	width : 30%;
	padding : 5px;
	border: 3px solid red;
}
.renseignement_maison {
	diplay : flex;
	background : red;
	
}
.renseignement_piece, .renseignement_adresse{
	padding : 10px;
	margin : 10px;
	border: 1px solid black;
	width : 40%;
	
}


/*style de la page du profil avec les information utilisateur*/

.info {
	width : 50%;
	margin : auto;
	margin-bottom : 30px;
	font-size : 16px;
	
}
.info th{
	text-align : right;
	padding-right : 16px;
	
}
.info td {
	padding-left : 15px;
	text-align : left;
}
.submit_modif {
	margin : auto;
}
