table {
    border-collapse: collapse;
}
table.chat{
	width : 100%;
	margin-top : 15px;
	margin-bottom : 15px;
	text-aligh : justify;
}
table.liste_cap{
	width : 70%;
	margin : auto;
	margin-top : 15px;
}
th.case {
  width: 50px;
}
th.liste_etat{
	width : 120px;
}
table, th, td {
    border: 1px solid black;

}
table {
  width: 100%;
}
table.liste{
  width: 100%;
  padding-right: 40px;
}

th {
    height: 40px;
    text-align: center;
    background-color: #5b84a4;
    color: white;
}
td.check{
  text-align: center;
}
td {

  vertical-align: middle;
  text-align: left;
}
th, td {
    padding: 10px;
}

td.switch {
	padding-left : 23px;
}

tr:nth-child(even) {background-color: #D8E4EC}
tr {height: 15px;}

td.message{
	width : 70%;
	text-aligh : justify;
}]