
#Cforum {width: 780px; min-height:300px; padding:10px;margin: auto; margin-top: 20px; }


.categories {
	width: 90%;
	margin: auto;
	background-color: #EEEEEE;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	color: #5b84a4;
	text-align: center;}
        
            
.categories a {
	display:block;
	color: #5b84a4;
	font-size: 30px;
	flex-wrap: wrap;
	transition: all .3s;
	text-decoration: none;}

.sujet {
    width: 100%;
    min-height : 50px;
    margin: auto;
    background-color: #5e8fbc;
    line-height: 50px;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 40px;
}
#Cforum .sujet a{
	display:block;
	color: white;
	font-size: 20px;
	flex-wrap: wrap;
	transition: all .3s;
	text-decoration: none;
}
#Cforum a {
	display : block; 
	margin : auto;
	color: #5b84a4;
	text-decoration: none ;
 }
button { color: #5b84a4; }

#Cforum .message {
	background-color: #EEEEEE;
	margin : auto;
	margin-top: 10px; 
	min-height: 115px;
	width:100%;
	padding:10px;
}

#Cforum form {
	margin : auto;
	padding: 20px;
}
#Cforum textarea {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	min-height: 75px;
}

#Cforum input, textarea{
	margin : 10px;
}